.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 10%;
    max-width: 80%;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;

        h1 {
            margin-bottom: 0;
            white-space: nowrap;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding-block: 2rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-block: 2rem;

        * {
            margin: 0;
            padding: 0;
        }
    }
}